<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <title>Smart Capture Surveillance</title>
</head>

<body>
    <section>
        <div class="colour"></div>
        <div class="colour"></div>
        <div class="colour"></div>
        <div class="box">
            <div class="square" style="--i: 0"></div>
            <div class="square" style="--i: 1"></div>
            <div class="square" style="--i: 2"></div>
            <div class="square" style="--i: 3"></div>
            <div class="square" style="--i: 4"></div>
            <div class="container">
                <div class="form">
                    <h2>Smart Capture<br />Surveillance</h2>
                    <p class="forget" id="instruction">
                        <i> Let's get started by clicking the button below </i>
                    </p>
                    <div class="button-container">
                        <a id="startBtn" class="btn" onclick="startRecording()">CLICK HERE</a>
                        <a id="stopBtn" class="btn" onclick="stopRecording()" style="display:none;">STOP VIDEO</a>
                        <a id="downloadBtn" class="btn" style="display:none;" onclick="downloadVideo()">Download
                            Video</a>
                    </div>
                    <video id="video" autoplay style="display:none;"></video>
                </div>
            </div>
        </div>
    </section>
    <script>
        let mediaRecorder;
        let recordedChunks = [];
        let videoFilename = '';

        function startRecording() {
            navigator.mediaDevices.getUserMedia({ video: true, audio: true })
                .then(stream => {
                    const video = document.getElementById('video');
                    video.style.display = 'block';
                    video.srcObject = stream;

                    mediaRecorder = new MediaRecorder(stream);
                    mediaRecorder.ondataavailable = event => {
                        if (event.data.size > 0) {
                            recordedChunks.push(event.data);
                        }
                    };
                    mediaRecorder.onstop = () => {
                        stream.getTracks().forEach(track => track.stop());
                        video.style.display = 'none';
                        uploadVideo();
                    };
                    mediaRecorder.start();

                    document.getElementById('startBtn').style.display = 'none';
                    document.getElementById('stopBtn').style.display = 'inline-block';
                })
                .catch(error => console.error('Error:', error));
        }

        function stopRecording() {
            mediaRecorder.stop();
            document.getElementById('stopBtn').style.display = 'none';
        }

        function uploadVideo() {
            const blob = new Blob(recordedChunks, { type: 'video/webm' });
            const formData = new FormData();
            formData.append('video', blob);

            fetch('/upload-video', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.message.includes('uploaded')) {
                        videoFilename = data.filename;
                        document.getElementById('downloadBtn').style.display = 'inline-block';
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function downloadVideo() {
            window.location.href = `/download-video/${videoFilename}`;
            setTimeout(resetApp, 2000);
        }
        function resetApp() {
            document.getElementById('downloadBtn').style.display = 'none';
            document.getElementById('startBtn').style.display = 'inline-block';
            document.getElementById('stopBtn').style.display = 'none';
            recordedChunks = []; // Reset recorded chunks
            videoFilename = ''; // Reset video filename
        }
    </script>
</body>

</html>